//  ==========================================================================
//  Default Base Variables
//  ==========================================================================

//  General Defaults
//  ==========================================================================
    $silk-background-color:         #FFF !default;
    $silk-font-family:              "Helvetica Neue", Helvetica, Arial, sans-serif !default;
    $silk-font-family-two:          Georgia, Times, "Times New Roman", serif !default;

    $silk-base-font-color:          #333 !default;
    $silk-base-font-family:         $silk-font-family !default;
    $silk-base-font-size:           16px !default;
    $silk-base-line-height:         28px !default;

//  General
//  ==========================================================================

    // ~ Anchors ~ //
    $silk-anchor-color:             #4c6fff !default;
    $silk-anchor-visited-color:     $silk-anchor-color !default;
    $silk-anchor-hover-color:       darken($silk-anchor-color, 10) !default;
    $silk-anchor-focus-color:       $silk-anchor-color !default;
    $silk-anchor-active-color:      $silk-anchor-color !default;

    // ~ Blockquote ~ //
    $silk-blockquote-font-size:     24px !default;
    $silk-blockquote-line-height:   37px !default;

//  Headings
//  ==========================================================================

    // ~ General ~ //
    $silk-heading-font-family:      $silk-font-family !default;
    $silk-heading-font-color:       #333 !default;

    // ~ Heading 1 ~ //
    $silk-h1-font-size:             35px !default;
    $silk-h1-line-height:           45px !default;
    $silk-h1-font-color:            $silk-heading-font-color !default;
    $silk-h1-font-family:           $silk-heading-font-family !default;


    // ~ Heading 2 ~ //
    $silk-h2-font-size:             28px !default;
    $silk-h2-line-height:           38px !default;
    $silk-h2-font-family:           $silk-heading-font-family !default;
    $silk-h2-font-color:            $silk-heading-font-color !default;


    // ~ Heading 3 ~ //
    $silk-h3-font-size:             24px !default;
    $silk-h3-line-height:           30px !default;
    $silk-h3-font-family:           $silk-heading-font-family !default;
    $silk-h3-font-color:            $silk-heading-font-color !default;


    // ~ Heading 4 ~ //
    $silk-h4-font-size:             22px !default;
    $silk-h4-line-height:           28px !default;
    $silk-h4-font-family:           $silk-heading-font-family !default;
    $silk-h4-font-color:            $silk-heading-font-color !default;


    // ~ Heading 5 ~ //
    $silk-h5-font-size:             18px !default;
    $silk-h5-line-height:           24px !default;
    $silk-h5-font-family:           $silk-heading-font-family !default;
    $silk-h5-font-color:            $silk-heading-font-color !default;


    // ~ Heading 6 ~ //
    $silk-h6-font-size:             16px !default;
    $silk-h6-line-height:           22px !default;
    $silk-h6-font-family:           $silk-heading-font-family !default;
    $silk-h6-font-color:            $silk-heading-font-color !default;







