//  ==========================================================================
//  Custom Variables
//  Place custom variables here, things like color variables
//  or things you'll need throughout the code base.
//  ==========================================================================

    $primary-color: #00a98d; // Example
    $idfive-grey: #555;


//  silk core overrides
//  ==========================================================================

    //$silk-background-color:         $idfive-grey;
    $silk-font-family:              Montserrat, sans-serif;

    //$silk-base-font-color:          white;
    $silk-base-font-size:           16px;
    $silk-base-line-height:         28px;

    $silk-anchor-color:             $primary-color;
//    $silk-anchor-visited-color:     #4c6fff;
//    $silk-anchor-hover-color:       darken(#4c6fff, 10);
//    $silk-anchor-focus-color:       #4c6fff;
//    $silk-anchor-active-color:      #4c6fff;

//    $silk-blockquote-font-size:     26px;
//    $silk-blockquote-line-height:   40px;
//
//    $silk-heading-font-family:      $silk-font-family;
//    $silk-heading-font-color:       #333;
//
//    $silk-h1-font-color:            $silk-heading-font-color;
//    $silk-h1-font-family:           $silk-heading-font-family;
      $silk-h1-font-size:             100px;
      $silk-h1-line-height:           65px;
//
//    $silk-h2-font-size:             28px;
//    $silk-h2-font-family:           $silk-heading-font-family;
//    $silk-h2-font-color:            $silk-heading-font-color;
//    $silk-h2-line-height:           38px;
//
//    $silk-h3-font-size:             24px;
//    $silk-h3-font-family:           $silk-heading-font-family;
//    $silk-h3-font-color:            $silk-heading-font-color;
//    $silk-h3-line-height:           30px;
//
//    $silk-h4-font-size:             22px;
//    $silk-h4-font-family:           $silk-heading-font-family;
//    $silk-h4-font-color:            $silk-heading-font-color;
//    $silk-h4-line-height:           28px;
//
//    $silk-h5-font-size:             18px;
//    $silk-h5-font-family:           $silk-heading-font-family;
//    $silk-h5-font-color:            $silk-heading-font-color;
//    $silk-h5-line-height:           24px;
//
//    $silk-h6-font-size:             16px;
//    $silk-h6-font-family:           $silk-heading-font-family;
//    $silk-h6-font-color:            $silk-heading-font-color;
//    $silk-h6-line-height:           22px;

//  end silk core overrides ==================================================


