//  ==========================================================================
//  Anchors
//  ==========================================================================
    a {
      text-decoration: none;
      transition: color 0.3s ease-in-out;
      &:link{
        color:            $silk-anchor-color;
      }
      &:visited {
        color:            $silk-anchor-visited-color;
      }
      &:hover {
        color:            $silk-anchor-hover-color;
      }
      &:focus {
        color:            $silk-anchor-focus-color;
      }
      &:active {
        color:            $silk-anchor-active-color;
      }
    }

