//  ==========================================================================
//  Blockquote
//  ==========================================================================

    blockquote {
      font-size: em($silk-blockquote-font-size);
      line-height: em($silk-blockquote-line-height, $silk-blockquote-font-size);
      cite {
        font-size: em(20px, $silk-blockquote-font-size);
      }
    }

