//  ==========================================================================
//  Headings
//  Made exception for classes here | :(
//  ==========================================================================

    h1, h2, h3, h4, h5, h6 {
      display: block;
      font-weight: 700;
    }

    h1, .h1 {
      font-family:    $silk-h1-font-family;
      font-size:      em($silk-h1-font-size);
      line-height:    em($silk-h1-line-height, $silk-h1-font-size);
    }

    h2, .h2 {
      font-family:    $silk-h2-font-family;
      font-size:      em($silk-h2-font-size);
      line-height:    em($silk-h2-line-height, $silk-h2-font-size);
    }

    h3, .h3 {
      font-family:    $silk-h3-font-family;
      font-size:      em($silk-h3-font-size);
      line-height:    em($silk-h3-line-height, $silk-h3-font-size);
    }

    h4, .h4 {
      font-family:    $silk-h4-font-family;
      font-size:      em($silk-h4-font-size);
      line-height:    em($silk-h4-line-height, $silk-h4-font-size);
    }

    h5, .h5 {
      font-family:    $silk-h5-font-family;
      font-size:      em($silk-h5-font-size);
      line-height:    em($silk-h5-line-height, $silk-h5-font-size);
    }

    h6, .h6{
      font-family:    $silk-h6-font-family;
      font-size:      em($silk-h6-font-size);
      line-height:    em($silk-h6-line-height, $silk-h6-font-size);
    }
