//  ==========================================================================
//  Global Declarations
//  ==========================================================================

    *,
    *:before,
    *:after {
      box-sizing: border-box;
    }

    html {
      background-color: $silk-background-color;
      color: $silk-base-font-color;
      font-family: $silk-base-font-family;
      text-rendering: optimizeLegibility
    }

    body {
      font-size: rem($silk-base-font-size);
      line-height: em($silk-base-line-height, $silk-base-font-size);
    }