//  ==========================================================================
//   Measurement Unit Functions
//  ==========================================================================

//  Pixel To Ems (https://css-tricks.com/snippets/sass/px-to-em-functions/)
//  ==========================================================================

    @function em($pixels, $context: $silk-base-font-size) {
      @if (unitless($pixels)) {
        $pixels: $pixels * 1px;
      }
      @if (unitless($context)) {
        $context: $context * 1px;
      }
      @return $pixels / $context * 1em;
    }

//  Pixel To REM
//  (http://www.stubbornella.org/content/2013/07/01/easy-peasy-rem-conversion-with-sass/)
//  ==========================================================================

    @function rem($pixels, $context: 16px) {
      $remSize: $pixels / $context;
      @return #{$remSize}rem;
    }